---
# Cribl Edge Docker role defaults

# Docker configuration
cribl_edge_docker_image: cribl/cribl:latest
cribl_edge_container_name: cribl-edge

# Service configuration
cribl_edge_mode: edge  # edge or worker

# Network configuration - syslog listeners (per port assignment)
# 1514: UniFi, 1515: Palo Alto, 1516: Cisco ASA, 1517: Linux, 1518: Windows
cribl_edge_syslog_ports:
  - port: 1514
    name: unifi
    protocol: tcp
  - port: 1514
    name: unifi_udp
    protocol: udp
  - port: 1515
    name: palo_alto
    protocol: tcp
  - port: 1515
    name: palo_alto_udp
    protocol: udp
  - port: 1516
    name: cisco
    protocol: tcp
  - port: 1516
    name: cisco_udp
    protocol: udp
  - port: 1517
    name: linux
    protocol: tcp
  - port: 1517
    name: linux_udp
    protocol: udp
  - port: 1518
    name: windows
    protocol: tcp
  - port: 1518
    name: windows_udp
    protocol: udp
  - port: 2055
    name: netflow
    protocol: udp

# Data directories
cribl_edge_data_dir: /opt/cribl/data
cribl_edge_config_dir: /opt/cribl/config
cribl_edge_queue_dir: "{{ cribl_edge_data_dir }}/queue"

# Splunk HEC configuration - uses hostname from inventory
cribl_edge_splunk_host: "{{ hostvars['splunk'].hostname }}.{{ proxmox_domain }}"
cribl_edge_hec_url: "https://{{ hostvars['splunk'].ansible_host }}:8088"
cribl_edge_hec_token: "{{ lookup('env', 'SPLUNK_HEC_TOKEN', default='') }}"
cribl_edge_hec_tls_verify: false  # Disabled: Splunk uses self-signed cert

# Service user
cribl_edge_user: root
cribl_edge_group: root

# Cribl Edge package installation variables
cribl_edge_package_name: cribl  # Debian package name
cribl_edge_service_name: cribl   # Systemd service name
cribl_edge_service_state: started  # Desired service state
cribl_edge_service_enabled: true   # Enable on boot
