---
# Import Terraform infrastructure data before running application playbooks
# This populates the inventory dynamically from terraform_inventory.json
- name: Import Terraform infrastructure inventory  # noqa: name[play]
  import_playbook: ../inventory/load_terraform.yml

# Configure application stacks based on Terraform infrastructure
- name: Configure Cribl Edge nodes
  hosts: lxc_containers
  become: true

  roles:
    - cribl_edge

- name: Configure Cribl Stream
  hosts: vms
  become: true

  roles:
    - cribl_stream

- name: Configure HAProxy load balancer
  hosts: lxc_containers
  become: true

  roles:
    - haproxy_syslog
